h1 {
    text-align: center
}

table {
    margin:auto;
}

td {
    width: 100px;
    height: 100px;
}

.vertical {
    border-left:2px solid darkslateblue;
    border-right:2px solid darkslateblue;
}

.horizontal {
    border-top:2px solid darkslateblue;
    border-bottom: 2px solid darkslateblue
}