body {
    background: cadetblue;
}

h1 {
    text-align: center;
    color:#fffafa;
}

ul {
    border: 2px dashed white;
    color: #fffafa;
    width: 200px;
    margin: auto;
    font-size: 18px;
}

#priority {
    background-color: darkslategray;
}

.completed {
    text-decoration: line-through;
}